[project]
	description = ??????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/andy.li (andyidea)
[access "refs/for/refs/*"]
	read = group user/andy.li (andyidea)
	push = group user/andy.li (andyidea)
	label-Code-Review = -2..+2 group user/andy.li (andyidea)
	label-Verified = -1..+1 group user/andy.li (andyidea)
	rebase = group user/andy.li (andyidea)
	removeReviewer = group user/andy.li (andyidea)
	submit = group user/andy.li (andyidea)
[access "refs/heads/*"]
	read = group user/andy.li (andyidea)
	create = group user/andy.li (andyidea)
	push = +force group user/andy.li (andyidea)
	pushMerge = group user/andy.li (andyidea)
[access "refs/tags/*"]
	push = group user/andy.li (andyidea)
	push = +force group user/andy.li (andyidea)
